/* fancy font: */

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
h1,
h2,
h3,
h4,
h5,
h6,
body {
    font-family: 'Quicksand', sans-serif;
}

.landing_page_container {
    background-image: url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.landing_page_header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 25%;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    background-color: white;
    max-height: 50px;
}

.landing_page_content {
    margin-top: 5%;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 15px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.select_something {
    width: 50%;
    font-size: 150%;
}

.text_content {
    text-align: center;
}